<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% include head-custom.html %}
  </head>
  <body>
          </ul>
        </nav>
      </div><!-- end header -->

    <div class="wrapper">

      <section>
        <div id="title">
          <h1>bobby</h1>
          <p></p>
          <hr>
          <span class="credits left">[contact me](https://github.com/bobbledbobby/bobbledbobby.github.io/new/master#contact-me) | [what do I do?](https://github.com/bobbledbobby/bobbledbobby.github.io/blob/master/what-do-i-do.md#what-do-i--do) | east[e](https://github.com/bobbledbobby/bobbledbobby.github.io/blob/master/not-an-easteregg.md#easter-egg)r [e](https://github.com/bobbledbobby/bobbledbobby.github.io/blob/master/not-an-easteregg.md#easter-egg)gg: sk[e](https://github.com/bobbledbobby/bobbledbobby.github.io/blob/master/not-an-easteregg.md#easter-egg)tch[e](https://github.com/bobbledbobby/bobbledbobby.github.io/blob/master/not-an-easteregg.md#easter-egg)s/blogs/stori[e](https://github.com/bobbledbobby/bobbledbobby.github.io/blob/master/not-an-easteregg.md#easter-egg)s...
          <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/mattgraham">mattgraham!</a></span>
        </div>

        {{ content }}

      </section>

    </div>
  </body>
</html>
